include "origin.kdl"

// Noctalia Keybinds Overrides
// https://docs.noctalia.dev/getting-started/keybinds/
binds {
    Mod+X { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+V { spawn-sh "noctalia-shell ipc call launcher clipboard"; }
    Mod+Escape { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Period { spawn-sh "noctalia-shell ipc call launcher emoji"; }
    Mod+Shift+N { spawn-sh "noctalia-shell ipc call notifications toggleHistory"; }
}

// https://docs.noctalia.dev/getting-started/compositor-settings/
window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20
  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
