// https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

prefer-no-csd

layout {
    gaps 6
    background-color "transparent"
    // center-focused-column "on-overflow"

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    focus-ring {
      off
    }
    shadow {
      on
      softness 8
      spread 1
      offset x=0 y=3
    }
    tab-indicator {
      gap 0
      width 5
      length total-proportion=0.3
      gaps-between-tabs 2
      active-gradient from="#808080" to="#bbddff" angle=45
      inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}

binds {
    Mod+Return { spawn "ghostty"; }
    // Mod+Comma { spawn-sh "kitten quick-access-terminal"; }
    Mod+E { spawn "emacs"; }
    Mod+W { spawn "firefox"; }
    Mod+F { spawn "nautilus"; }
    Mod+L { spawn "hyprlock"; }
    Mod+X { spawn "fuzzel"; }  // Overrides
    Mod+Period { spawn "bemoji"; } // Overrides
    Mod+Escape { spawn "wlogout"; } // Overrides
    Mod+V { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; } // Overrides

    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+MouseMiddle     { maximize-column; }
    Mod+WheelScrollUp   { focus-window-up-or-column-left; }
    Mod+WheelScrollDown { focus-window-down-or-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+T { toggle-column-tabbed-display; }
    Mod+R { switch-preset-column-width; }
    Mod+Z { toggle-window-floating; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }

    Mod+Shift+P { power-off-monitors; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "volumectl -u up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "volumectl -u down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "volumectl toggle-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "volumectl -m toggle-mute"; }

    XF86MonBrightnessUp { spawn-sh "lightctl up"; }
    XF86MonBrightnessDown { spawn-sh "lightctl down"; }
}

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            // options "ctrl:swapcaps"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

// window-rule {
//     geometry-corner-radius 8
//     clip-to-geometry true
// }

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-left"
}

window-rule {
    match app-id="org.gnome.Loupe"
    match app-id="mpv"
    open-floating true
}

window-rule {
    match app-id="goodvibes"
    max-width 300
    // min-height 400
    max-height 400
    // default-column-width { fixed 300; }
    default-window-height { fixed 400; }
}
