@define-color background #1F1F28;
@define-color foreground #DCD7BA;
@define-color purple #957FB8;

window {
  background-color: @background;
  border-radius: 15px;
  border: 1px solid #54546D;
}

#text {
  font-family: JetBrains Mono;
  font-size: 1.2em;
  color: @foreground;
}

#input {
  padding: 0.95em;
  margin: .5rem;
  background-color: #1f1f28;
  border: 1px solid @background;
  box-shadow: inset 0 -.2rem @purple, 0px 0px 10px 1px rgba(0, 0, 0, 0.61);
  font-family: Hack;
  font-size: 1.3em;
  font-weight: 200;
  border-radius: 0;
  color: @foreground;
}

#outer-box {
  padding: 1em;
}

#scroll {
  margin-top: 1em;
}

#entry {
  padding: 1em;
  margin: .1rem;
  border-radius: 0px;
  border: none;
  box-shadow: inset 0rem 0px rgba(0, 0, 0, 0);
  transition: box-shadow .30s ease-in-out, background-color .30s ease-in-out;
  background: none;
}

#entry>box {
  margin-left: .25em;
}

#entry image {
  margin-right: 1em;
}

#entry:selected {
  background-color: #363646;
  border: 1px solid #54546D;
  box-shadow: inset .4rem 0px @purple;
}
