* {
  border: none;
  border-radius: 6px;
  font-family: "Symbols Nerd Font Mono", "Jetbrains Mono";
  /* font-size: 16px; */
  /* font-weight: 500; */
  /* min-height: 16px; */
  margin: 3px 4px 3px 4px;
}

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  margin: initial;
  margin-bottom: 3px;
  background-color: rgba(40, 40, 40, 0.9);
  box-shadow: 0px 0px 2px 2px rgba(32, 32, 32, 1);
}

#custom-launcher,
#workspaces,
#clock,
#custom-playerctl,
#tray,
#bluetooth,
#wireplumber,
#network,
#backlight,
#battery,
#power-profiles-daemon,
#custom-wlogout {
  background: #282828;
  border: 2px solid #3c3836;
  box-shadow: 0px 0px 2px 2px rgba(32, 32, 32, 1);
  color: #ebdbb2;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease 0.15s;
}

#custom-launcher:hover,
#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover,
#clock:hover,
#bluetooth:hover,
#wireplumber:hover,
#network:hover,
#battery:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#custom-wlogout:hover {
  color: #83a598;
  margin: 1px 4px 3px 4px;
  box-shadow: 0px 0px 4px 2px rgba(32, 32, 32, 1);
  transition: ease 0.2s;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.empty:hover {
  margin: initial;
  box-shadow: initial;
}

#workspaces {
  padding: initial;
}

#workspaces button {
  margin: initial;
  padding: initial;
  padding-left: 2px;
  padding-right: 2px;
  color: #665c54;
}

#workspaces button.active,
#workspaces button.empty {
  color: #ebdbb2;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #fb4934;
  }
}

#custom-launcher {
  color: #458588;
}
