* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  /* background: #15121B; */
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  /* background: #eba0ac; */
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-language,
#custom-logout,
#custom-weather,
#custom-caffeine,
#custom-playerctl,
#custom-notification,
#custom-launcher,
#clock,
#taskbar,
#battery,
#idle_inhibitor,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
}

#custom-launcher {
  border-radius: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#taskbar {
  border-radius: 10px;
  margin-left: 4px;
}
#taskbar button {
  color: @background;
  border-radius: 12px;
  padding: 0px 9px 0px 9px;
}
/* #taskbar button.active { */
/*     background-color: #89b4fa; */
/*     border-color: rgba(16,17,16,.3); */
/*     border-width: 1px; */
/*     border-radius: 10px; */
/* } */

#network {
  color: #fab387;
  border-radius: 10px 0 0 10px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
}

#custom-playerctl {
  color: #fab387;
  border-radius: 10px;
  margin-left: 4px;
}

#custom-notification {
  border-radius: 10px;
  margin-right: 4px;
}

#clock {
  color: #f9e2af;
  border-radius: 10px;
}

#custom-weather {
  background-color: #1e1e2e;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px 10px 10px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
}


#pulseaudio {
  color: #89b4fa;
  border-radius: 10px 0 0 10px;
}

#backlight{
  color: #cba6f7;
  margin-left: -10px;
  margin-right: -10px;
}

#battery{
  color:  #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#custom-logout {
  color: #f5c2e7;
  border-radius: 10px;
  margin-right: 4px;
}
